[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "22.3.0"
flake8 = "*"
isort = "*"
nbqa = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"

[packages]
bambi = ">=0.9.0"
boto3 = "*"
botocore = "*"
causalml = "*"
graphviz = "==0.17"
ipykernel = "*"
ipython = "*"
isort = "*"
jax = "*"
lifelines = "*"
Lifetimes = "==0.11.3"
matplotlib = "==3.5.1"
networkx = "*"
numpy = "*"
openpyxl = "==3.0.9"
orbit-ml = "==1.1.2"
pandas = "*"
prophet = "==1.0.1"
pygraphviz = "*"
pymc = "4.0.0"
pystan = "==2.19.1.1"
seaborn = "==0.11.2"
scikit-learn = "*"
scikit-uplift = "*"
scipy = "*"
shap = "*"
sktime = "*"
statsmodels = "*"
tensorflow = "*"
tensorflow-probability = "*"
torch = "*"
xgboost = "*"
mkl = {version = "*", sys_platform = "== 'darwin'"}
intel-openmp = {version = "*", sys_platform = "== 'darwin'"}
tbb = {version = "*", sys_platform = "== 'darwin'"}

[requires]
python_version = "3.8"