[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=22.3.0"
flake8 = "*"
isort = "*"
nbqa = "*"
pre-commit = "*"
rich = "*"
watermark = "*"

[packages]
arviz = ">=0.16.1"
bambi = ">=0.12.0"
blackjax = "==0.9.6"
category-encoders = "*"
dynamax = "*"
dowhy = "*"
econml = "*"
equinox = "*"
factor-analyzer = "*"
flax = "*"
geopandas = "*"
graphviz = {version = "*", sys_platform = "== 'darwin'"}
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jax = ">=0.4.13"
jaxlib = ">=0.4.13"
jaxopt = "*"
Lifetimes = "==0.11.3"
lightgbm = "*"
linearmodels = "*"
mapie = ">=0.6.5"
matplotlib = ">=3.7.2"
networkx = "*"
numpyro = ">=0.12.1" 
nutpie = "*"
openpyxl = "*"
orbit-ml = ">=1.1.4"
pandas = ">=2.0.3"
pgmpy = "*"
polars = "*"
preliz = "*"
pymc = "==5.7.0"
pymc-bart = ">=0.5.1"
pyro-ppl = "*"
seaborn = ">=0.12.2"
scikit-learn = ">=1.2.2"
scikit-uplift = "*"
shap = "*"
sktime = "*"
snowflake-sqlalchemy = "*"
statsmodels = ">=0.14.0"
tensorflow-probability = "*"
tfp-causalimpact = "*"
xgboost = "*"
yellowbrick = "*"
mkl = {version = "*", sys_platform = "== 'darwin'"}
intel-openmp = {version = "*", sys_platform = "== 'darwin'"}
tbb = {version = "*", sys_platform = "== 'darwin'"}

[requires]
python_version = "3.11"
