[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=22.3.0"
flake8 = "*"
isort = "*"
nbqa = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
rich = "*"
watermark = "*"

[packages]
blackjax = "*"
boto3 = "*"
botocore = "*"
causalml = "==0.12.3"
darts = "*"
graphviz = {version = "*", sys_platform = "== 'darwin'"}
ipykernel = "*"
ipython = "*"
ipywidgets = "==7.7.2"
jax = "*"
jaxlib = "*"
jaxopt = "*"
lifelines = "*"
Lifetimes = "==0.11.3"
matplotlib = "*"
mistune = ">=2.0.3"
networkx = "*"
numpy = "*"
numpyro = "*"
openpyxl = "*"
orbit-ml = "*"
pandas = "*"
pystan = {git = "git+https://github.com/stan-dev/pystan2.git", ref = "v2.19.1.1"}
prophet = "==1.1"
pymc = "==4.1.7"
seaborn = "==0.11.2"
scikit-learn = "*"
scikit-uplift = "*"
scipy = "*"
shap = "*"
sktime = "*"
statsmodels = "*"
tensorflow = "*"
tensorflow-probability = "*"
torch = "*"
xgboost = "*"
mkl = {version = "*", sys_platform = "== 'darwin'"}
intel-openmp = {version = "*", sys_platform = "== 'darwin'"}
tbb = {version = "*", sys_platform = "== 'darwin'"}

[requires]
python_version = "3.9"