:root {
  --r-background-color: #F7F7F7;
  --r-main-color: #0C1F40;
  --r-heading-color: #0C1F40;
}

.reveal pre.sourceCode code {
  max-height: 600px;
}

.reveal code {
  color: #0379EA;
}

.bordered img {
  border: 2px solid #0C1F40;
}
